:root {
    --background-color: #181a1b;

    --text-muted: #b2afab;
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

    background-color:var(--background-color);
    padding: calc(.6em + 1.5vw);

    .buttons {
        display: flex;
        gap: calc(.5em + 1vw);
    }

    a {
        color: var(--text-muted);
        text-decoration: none;

        font-size: calc(.8em + .1vw);

        &:hover {
            color: red;
        }
    }
}
